:root {
    --background:#D97B29;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background: rgb(255, 255, 255);
      font-family: forma-djr-micro, sans-serif;
      font-weight: 400;
      font-style: normal;

  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  
  /* navigation styles start here */
  
  header {
    background: var(--background);
    padding: 20px;
    position: fixed;
    z-index: 999;
    width: 100%;
    
  }
  .nav,
.desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #666;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #7AC943;
  height: 50vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: forma-djr-micro, sans-serif;
  text-align: right;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #F2B05E;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: red;
}

.desktop,
.menu-desktop,
.menu-mobile {
  display: none;
}
/* END OF Mobile Menu */
/* Medium devices (landscape tablets, 768px and up) */

  /* START of desktop menu for 768 media query */
  .menu-desktop {
    width: 100%;
    display: none;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    height: 0;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-desktop a {
    display: inline-flex;
    margin-right: 30px;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #333;
    justify-content: space-evenly;
  }
  .menu-desktop a:hover {
    color: #FF1D25;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
  }

  nav.nav {
    display: block;
  }

  .menu-mobile {
      display:none;
  }
  /* END of desktop menu for 768 media query */



  




html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


html, body {
    background: #ffffff;
    font-family: forma-djr-micro,arial,sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

h1{
  fontsize: 36px;
}
h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
}
h3 {
  font-weight: 800;
  }

  h4 {
    font-family: brush-atf, sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 130px;
	background: none;
	z-index: 1000;
}

nav a {
	font-size: 22px;
	color: #282727;
	display: block;
	text-decoration: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}

nav a.selected {
	font-size: 32px;
	color: #fff;
}

.page {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.page1 {
	background-image: url(images/bkgrnddesktop.jpg);
    background-repeat: no-repeat;	
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.page2 {
		background-image: url(images/menubkgrnddesktop.png);
        background-repeat: no-repeat;	
        background-size: 100%;
        background-position: center;
        background-size: cover;
}

.page3 {
	background: #A9BF04;	
	background-size: 100%;
}

.page4 {
	background-image: url(images/aboutusbkgrnddesktop.jpg);
  background-repeat: no-repeat;	
  background-size: 100%;
  background-position: center;
  background-size: cover;
}


.item {
	position: absolute;
	top: 0;
	left: 0;
	
}

.item1 {
	top: 90%;
	left: 15%;
	}

.item2 {
	top: 30%;
	left: 10%;
}

.item3 {
	top: 30%;
	left: 60%;
}

.item4 {
	top: 30%;
	left: 10%;
	
	
}

.item5 {
	top: 50%;
	left: 35%;
	
	
}

.slowshow {
  border: 5px solid rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-top: -160px;
	margin-left: -170px;
  color: #ffffff;
	background: #FF1D25;
	padding: 20px;
	line-height: 1.4em;
  border-radius: 10px;
}

.container{
  width: 50%;
  max-width: 1000px;
  min-width: 375px;
  margin-top: 90px;
  margin-left: 30px;
 
}


/* accordion-2 */
#accordion-2{
  position: relative;
  
}

#accordion-2 .head{
  background-color: #F2B05E;
  color: #563e6e;
  padding: 20px 30px;
  cursor: pointer;
  transition: 0.25s;
}

#accordion-2 .arrow{
  content:'';
  position: absolute;
  right: 0;
  right: 30px;
  top: 50px;
  opacity: 1;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 5px solid #F2B05E;
  transition: 0.3s ease;
  z-index: 2;
}

#accordion-2 .head:hover .arrow, #accordion-2 .arrow-animate{
  border-top: 50px solid #7AC943;
  transform: translateY(10px);
}

#accordion-2 .content{
  background-color: #FFFFFF;
  display: none;
  padding: 20px;
  color: #333333;
}

#accordion-2 .head:hover, #accordion-2 .active{
  background-color: #7AC943; 
}

.order:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
  padding: 40px;
  background: #7AC943;
  display: flex;
  justify-content: space-between;
}
footer .right {
  text-align: right;
}


@media only screen and (min-width: 768px) {
