:root {
    --background:#D97B29;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background: rgb(255, 255, 255);
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  
  /* navigation styles start here */
  
  header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  

  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
 
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: #BF1304;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2 / 3;
    }
    
    nav {
      /* all: unset; /* this causes issues with Edge, since it's unsupported */
      
      /* the following lines are not from my video, but add Edge support */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
      
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: #A9BF04;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  
  




html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


html, body {
    background: #ffffff;
    font-family: forma-djr-micro,arial,sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	color: #333;
}

nav {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 130px;
	background: none;
	z-index: 1000;
}

nav a {
	font-size: 22px;
	color: #414141;
	display: block;
	text-decoration: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}

nav a.selected {
	font-size: 32px;
	color: #fff;
}

.page {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.page1 {
	background-image: url(images/bkgrnddesktop.jpg);
    background-repeat: no-repeat;	
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.page2 {
		background-image: url(images/menubkgrnddesktop.png);
        background-repeat: no-repeat;	
        background-size: 100%;
        background-position: center;
        background-size: cover;
}

.page3 {
	background: #A9BF04;	
	background-size: 100%;
}

.page4 {
	background-image: url(images/aboutusbkgrnddesktop.jpg);
  background-repeat: no-repeat;	
  background-size: 100%;
  background-position: center;
  background-size: cover;
}


.item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: #d9d9d9;
	padding: 5px;
	font-size: 1em;
}

.item1 {
	top: 75%;
	left: 70%;
	width: 60px;
	height: 60px;
	background:none;
	font-size: .6em;
	box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
}

.item2 {
	top: 45%;
	left: 20%;
	width: 70px;
	height: 70px;
	background: none;
	font-size: .7em;
	box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
}

.item3 {
	top: 80%;
	left: 60%;
	width: 80px;
	height: 80px;
	background: #888;
	font-size: .8em;
	box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
}

.item4 {
	top: 30%;
	left: 10%;
	width: 90px;
	height: 90px;
	background: #999;
	font-size: .9em;
	box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
}

.item5 {
	top: 60%;
	left: 90%;
	background: #aaa;
	box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
}

.slowshow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-top: -160px;
	margin-left: -170px;
	background: #ccc;
	padding: 20px;
	line-height: 1.4em;
}

.container{
  width: 50%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 5vh;
}


/* accordion-2 */
#accordion-2{
  position: relative;
  box-shadow: 0 1px 7px #DBDBDB;
}

#accordion-2 .head{
  background-color: #FFFFFF;
  color: #563e6e;
  padding: 20px 30px;
  cursor: pointer;
  transition: 0.25s;
}

#accordion-2 .arrow{
  content:'';
  position: absolute;
  right: 0;
  right: 30px;
  top: 65px;
  opacity: 1;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 40px solid #FFFFFF;
  transition: 0.3s ease;
  z-index: 2;
}

#accordion-2 .head:hover .arrow, #accordion-2 .arrow-animate{
  border-top: 40px solid #FFE77AFF;
  transform: translateY(40px);
}

#accordion-2 .content{
  background-color: #FFFFFF;
  display: none;
  padding: 30px;
  color: #333333;
}

#accordion-2 .head:hover, #accordion-2 .active{
  background-color: #FFE77AFF; 
}
@media screen and (min-width: 800px){
  .nav-toggle-label {
    display: none;
  }
}